.partnerImg {
  width: 350px;
  height: 250px;
  margin: 15px 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-img {
  width: 250px;
  transition: all 1s ease;
}

.partnerImg:hover .partner-img {
  transform: scale(1.2);
}

@media (max-width: 500px) {
  .partnerImg {
    width: 280px;
    height: 180px;
    margin: 15px 15px;
  }

  .partner-img {
    width: 200px;
  }
}
